<h1 class="text-xl neon-text-on-no-link fixed top-7 left-1/2 transform -translate-x-1/2 z-10 max-lg:text-sm max-lg:top-12">メールアドレス変更</h1>
<div class="flex items-center justify-center h-screen lg:fixed left-1/2 right-1/2">
  <%= form_with url: email_resets_path, method: :post, local: true do |f| %>
    <div class="mb-6">
      <%= f.text_field :reset_email, placeholder: '新しいメールアドレス', class: 'input-field', style: "width: 200px;" %>
    </div>
    <div class="flex justify-end mb-8">
       <%= f.submit '送信', id: "submit-button", class: "neon-text-off login"%>
    </div>
  <% end %>
  </div>
</div>
