<html>
  <head>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="MeTRO NOTE">
    <meta name="twitter:description" content="完全実力主義のバンドメンバーマッチングアプリ">
    <% if @image_url.present? %>
      <meta name="twitter:image" content="<%= @image_url %>">
    <% end %>
    <meta name="twitter:url" content="https://metronote-a37794a02853.herokuapp.com/">
  </head>

  <body>
    <h1>とりあえずトップページ</h1>
  </body>
</html>