<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="あなたのアプリのタイトル">
<meta name="twitter:description" content="アプリの説明文">
<meta name="twitter:image" content="<%= image_url %>">
<h1 >とりあえずトップページ</h1>
