/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.message {
  cursor: pointer;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 8px;
  text-align: center;
  position: fixed; /* 追加 */
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  z-index: 1000; /* 他の要素の上に表示されるように */
}

@media (max-width: 1024px) { /* lgブレークポイント */
  .message {
    width: 350px; /* lgサイズ以下の幅 */
  }
}

.flash-success {
  color: #1f8360;
  border-color: #1f8360;
  animation: success-glow 0.3s ease-in-out forwards, success-color-change 0.3s ease-in-out forwards;
}

@keyframes success-glow {
  0% {
    filter: drop-shadow(0 0 0 transparent);
  }
  100% {
    filter: drop-shadow(0 0 5px #0e9868);
  }
}

@keyframes success-color-change {
  0% {
    color: #1f8360;
    border-color: #1f8360;
  }
  100% {
    color: #30dfa2;
    border-color: #30dfa2;
  }
}

.flash-danger {
  color: #b74b4b;
  border-color: #b74b4b;
  animation: danger-glow 0.3s ease-in-out forwards, danger-color-change 0.3s ease-in-out forwards;
}

@keyframes danger-glow {
  0% {
    filter: drop-shadow(0 0 0 transparent);
  }
  100% {
    filter: drop-shadow(0 0 5px #dc0202);
  }
}

@keyframes danger-color-change {
  0% {
    color: #b74b4b;
    border-color: #b74b4b;
  }
  100% {
    color: #fd6565;
    border-color: #fd6565;
  }
}
/* スクロールバーのハンドル（つまみ部分） */
scrollbar {
  background: #884915; /* ハンドルの色を設定 */
}

/* スクロールバーのハンドルをホバーしたとき */
::-webkit-scrollbar-thumb:hover {
  background: #ff9a48; /* ホバー時の色を設定 */
}

 @font-face {
    font-family: 'ShinRetroMaruGothic';
    src: url('shin-retro-maru-gothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    border-bottom: 2px solid #884915;
    margin: 0 20px;
    padding: 15px;
    background: transparent;
    animation: orange-glow 0.3s ease-in-out forwards, orange-color-change 0.3s ease-in-out forwards;
  }

  @keyframes orange-glow {
    0% {
      border-bottom-shadow: none;
    }
    100% {
      box-shadow: 
      0 2px 2px -2px #965a28, 
      0 5px 5px -5px #965a28,
      0 7px 7px -7px #965a28,
      0 -2px 1px -2px #965a28 inset, 
      0 -5px 4px -5px #965a28 inset,
      0 -7px 6px -7px #965a28 inset;
    }
  }

  @keyframes orange-color-change {
    0% {
      border-bottom-color: #884915;
    }
    100% {
      border-bottom-color: #ff9a48;
    }
  }
  
  body {
    padding-top: 75px;
    padding-left: 35px;
    padding-right: 35px; 
    background-color: #050505; 
    color: #b2b2b2;
    font-family: 'ShinRetroMaruGothic';
    width: 100%;
  }

  @media (max-width: 1024px) { /* lgブレークポイント */
    body {
      padding-left: 10px;
      padding-right: 10px; 
    }
  }

  .show-border {
    border-top: 2px solid;
    border-color: #b2b2b2;
  }

  .neon-text-on {
    color: #127292;
    animation: blue-glow 0.3s ease-in-out forwards, blue-color-change 0.3s ease-in-out forwards;
  }

  .neon-text-on-no-link {
    color: #127292;
    animation: blue-glow 0.3s ease-in-out forwards, blue-color-change 0.3s ease-in-out forwards;
  }
  .neon-text-on:hover {
    animation: none;
    color: #8bd3ff;
    text-shadow:
      0 0 5px #02a5dc, 
      0 0 10px #02a5dc,
      0 0 15px #02a5dc,
      0 0 20px #02a5dc;
  }

  .neon-text-on.no-animation {
    animation: none;
    color: #8bd3ff;
    text-shadow:
      0 0 5px #02a5dc, 
      0 0 10px #02a5dc,
      0 0 15px #02a5dc;
}

  @keyframes blue-glow {
    0% {
      text-shadow: none;
    }
    100% {
      text-shadow: 
        0 0 5px #02a5dc, 
        0 0 10px #02a5dc,
        0 0 15px #02a5dc;
    }
  }

  @keyframes blue-color-change {
    0% {
      color: #127292;
    }
    100% {
      color: #8bd3ff;
    }
  }

  .neon-icon-on {
    color: #127292;
    animation: blue-icon-glow 0.3s ease-in-out forwards, blue-icon-color-change 0.3s ease-in-out forwards;
  }

  .neon-icon-on:hover {
    animation: none;
    color: #8bd3ff;
    filter: drop-shadow(0 0 5px #02a5dc) drop-shadow(0 0 10px #02a5dc);
  }

  .neon-icon-on.no-animation {
    animation: none;
    color: #8bd3ff;
    filter: drop-shadow(0 0 5px #02a5dc);
}

  @keyframes blue-icon-glow {
    0% {
      filter: drop-shadow(0 0 0 transparent);
    }
    100% {
      filter: drop-shadow(0 0 5px #02a5dc);
    }
  }

  @keyframes blue-icon-color-change {
    0% {
      color: #127292;
    }
    100% {
      color: #8bd3ff;
    }
  }

  .blinking {
    color: #127292;
    text-shadow: none;
  }
 
  .neon-text-off {
    color: #127292;
  }

  .neon-text-off:hover {
    color: #02a5dc; /* ネオンテキストオンの時の文字色にする */
  }

  .home-menu {
    position: absolute;
    top: 103%;
    right: 0;
    background-color: #050505;
    padding: 8px;
    text-align: right;
}

@media (max-width: 1024px) { /* lgブレークポイント */
  .home-menu {
    position: absolute;
    top: 103%;
    width: 120%;
    background-color: #050505;
    text-align: center;
    right: 50%; /* 左端を画面の中央に設定 */
    transform: translateX(50%);
    

}
}
.search-menu {
  visibility : visible;
}
.input-field {
  border: 2px solid #127292;
  background: transparent;
  outline: none;
  border-radius: 10px;
}

.input-field:hover {
  border: 2px solid #02a5dc;
  background: transparent;
  outline: none;
  border-radius: 10px;
}

.input-field:focus {

  background-color: #050505;
  border: 2px solid #127292;
  outline: none;
  animation: blue-field-glow 0.3s ease-in-out forwards, blue-field-color-change 0.3s ease-in-out forwards;
}

@keyframes blue-field-glow {
  0% {
    
  }
  100% {
    box-shadow:
      0 0 2px #02a5dc, 
      0 0 5px #02a5dc,
      0 0 7px #02a5dc,
      0 0 2px #02a5dc inset, 
      0 0 5px #02a5dc inset,
      0 0 7px #02a5dc inset;
  }
}

@keyframes blue-field-color-change {
  0% {
    border-color: #127292;
  }
  100% {
    border-color: #8bd3ff;
  }
}

.input-field:not(:placeholder-shown) {
  border: 2px solid #8bd3ff;
  outline: none;
}

.neon-logo-on {
  color: #127292;
  animation: blue-icon-glow 0.3s ease-in-out forwards, blue-icon-color-change 0.3s ease-in-out forwards;
}

.neon-logo-off {
  color: #127292;
}

input[type="file"]:focus {
  outline: none; /* フォーカス時のアウトラインを消す */
  border: none; /* ボーダーを消す */
}

.file-field::file-selector-button {
  border: 2px solid #127292;
  color: #127292;
  background: transparent;
  outline: none;
  border-radius: 10px;
}

.file-field::file-selector-button:hover {
  border: 2px solid #02a5dc;
  color: #02a5dc;
  background: transparent;
  outline: none;
  border-radius: 10px;
}

.file-field.selected::file-selector-button {
  border: 2px solid #8bd3ff;
  color: #8bd3ff;
  background: transparent;
  outline: none;
  border-radius: 10px;
}

.select-field {
  border: 2px solid #127292;
  background: transparent;
  outline: none;
  border-radius: 10px;
}

.select-field:hover {
  border: 2px solid #02a5dc;
  background: transparent;
  outline: none;
  border-radius: 10px;
}

.select-field:focus {

  background-color: #050505;
  border: 2px solid #127292;
  outline: none;
  animation: blue-field-glow 0.3s ease-in-out forwards, blue-field-color-change 0.3s ease-in-out forwards;
}

.select-field.selected {
  border: 2px solid #8bd3ff;
  outline: none;
}

.profile-submit {
  color: #127292;
  border-bottom: 2px solid #884915;
  padding-bottom: 2px;
}

.profile-submit:hover {
  animation: blue-glow 0.3s ease-in-out forwards, blue-color-change 0.3s ease-in-out forwards, orange-glow 0.3s ease-in-out forwards, orange-color-change 0.3s ease-in-out forwards;
}

.neon-off-on {
  color: #127292;
}

.neon-off-on:hover {
  animation: blue-icon-glow 0.3s ease-in-out forwards, blue-icon-color-change 0.3s ease-in-out forwards;
}

.delete-icon {
  color: #b74b4b;
}

.delete-icon:hover {
  animation: red-icon-glow 0.3s ease-in-out forwards, red-icon-color-change 0.3s ease-in-out forwards;
}

@keyframes red-icon-glow {
  0% {
    filter: drop-shadow(0 0 0 transparent);
  }
  100% {
    filter: drop-shadow(0 0 5px #dc0202);
  }
}

@keyframes red-icon-color-change {
  0% {
    color: #b74b4b;
  }
  100% {
    color: #fd6565;
  }
}

.other_user_box {
  border: 2px solid #127292;
  border-color: #127292;
  background: transparent;
  border-radius: 20px;
}

.s-neon {
  color: #b2356d;
  animation: s-glow 0.3s ease-in-out forwards, s-color-change 0.3s ease-in-out forwards;
}

@keyframes s-glow {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 
      0 0 5px  #ff6eaf
      0 0 10px #ff6eaf,
      0 0 15px #ff6eaf;
  }
}

@keyframes s-color-change {
  0% {
    color: #b2356d;
  }
  100% {
    color: #ff8ec1;
  }
}

.a-neon {
  color: #b74b4b;
  animation: a-glow 0.3s ease-in-out forwards, a-color-change 0.3s ease-in-out forwards;
}

@keyframes a-glow {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 
      0 0 5px  #dc0202
      0 0 10px #dc0202,
      0 0 15px #dc0202;
  }
}

@keyframes a-color-change {
  0% {
    color: #b74b4b;
  }
  100% {
    color: #fd6565;
  }
}

.b-neon {
  color: #b3b74b;
  animation: b-glow 0.3s ease-in-out forwards, b-color-change 0.3s ease-in-out forwards;
}

@keyframes b-glow {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 
      0 0 5px  #dee356
      0 0 10px #dee356,
      0 0 15px #dee356;
  }
}

@keyframes b-color-change {
  0% {
    color: #b3b74b;
  }
  100% {
    color: #fbff7c;
  }
}

.c-neon {
  color: #1f8360;
  animation: c-glow 0.3s ease-in-out forwards, c-color-change 0.3s ease-in-out forwards;
}

@keyframes c-glow {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 
      0 0 5px  #0e9868
      0 0 10px #0e9868,
      0 0 15px #0e9868;
  }
}

@keyframes c-color-change {
  0% {
    color: #1f8360;
  }
  100% {
    color: #30dfa2;
  }
}

.d-neon {
  color: #1f2483;
  animation: d-glow 0.3s ease-in-out forwards, d-color-change 0.3s ease-in-out forwards;
}

@keyframes d-glow {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 
      0 0 5px  #383ebd
      0 0 10px #383ebd,
      0 0 15px #383ebd;
  }
}

@keyframes d-color-change {
  0% {
    color: #1f2483;
  }
  100% {
    color: #787fff;
  }
}

.album-no-grid {
  display: grid;
            grid-template-columns: repeat(3, 159px);
            grid-template-rows: repeat(3, 159px);
            border: 2px solid #127292; /* 外枠 */
            border-radius: 6px; /* 外枠の角を丸く */
            overflow: hidden;
}

@media (max-width: 1024px) { /* lgブレークポイント */
  .album-no-grid {
    grid-template-columns: repeat(3, 111px);
    grid-template-rows: repeat(3, 111px);
  }
}

.album-no-grid div {
  border: 2px solid #127292; /* 各セルのボーダー */
}

.grid-neon {
  color: #127292;
}

.grid-neon:hover {
  animation: blue-icon-glow 0.3s ease-in-out forwards, blue-field-color-change 0.3s ease-in-out forwards;
}

.border-blue {
  border-color: #127292;
}

.border-orange {
  border-color: #884915;
}

.no-album-neon {
  height: 159px;
  width: 159px;
  border: 2px solid #127292; /* 外枠 */
  border-radius: 6px; /* 外枠の角を丸く */
  overflow: hidden;
}

@media (max-width: 1024px) { /* lgブレークポイント */
  .no-album-neon {
    height: 111px;
    width: 111px;
  }
}

.no-album-neon:hover {
  animation: blue-icon-glow 0.3s ease-in-out forwards, blue-field-color-change 0.3s ease-in-out forwards;
}

.no-album {
  height: 159px;
  width: 159px;
  border: 2px solid #127292; /* 外枠 */
  border-radius: 6px; /* 外枠の角を丸く */
  overflow: hidden;
}

@media (max-width: 1024px) { /* lgブレークポイント */
  .no-album {
    height: 47px;
    width: 47px;
  }
}

.login-button {
  color: #884915;
  border: 2px solid #127292;
  border-radius: 8px;
  padding: 3px 6px;
  animation: blue-field-glow 0.3s ease-in-out forwards, blue-field-color-change 0.3s ease-in-out forwards, orange-text-glow 0.3s ease-in-out forwards, orange-text-color-change 0.3s ease-in-out forwards;
}

.login-button:hover {
  animation: none;
    border-color: #8bd3ff;
    box-shadow:
      0 0 2px #02a5dc, 
      0 0 5px #02a5dc,
      0 0 7px #02a5dc,
      0 0 10px #02a5dc,
      0 0 2px #02a5dc inset, 
      0 0 5px #02a5dc inset,
      0 0 7px #02a5dc inset,
      0 0 10px #02a5dc inset;

    text-shadow: 
      0 0 5px #965a28, 
     0 0 10px #965a28,
      0 0 15px #965a28,
      0 0 20px #965a28;

    color: #ff9a48;
}

.login-button.no-animation {
  animation: none;
    border-color: #8bd3ff;
    box-shadow:
      0 0 2px #02a5dc, 
      0 0 5px #02a5dc,
      0 0 7px #02a5dc,
      0 0 2px #02a5dc inset, 
      0 0 5px #02a5dc inset,
      0 0 7px #02a5dc inset;

    text-shadow: 
      0 0 5px #965a28, 
     0 0 10px #965a28,
      0 0 15px #965a28;

    color: #ff9a48;
}

@keyframes orange-text-glow {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 
    0 0 5px #965a28, 
    0 0 10px #965a28,
    0 0 15px #965a28;
  }
}

@keyframes orange-text-color-change {
  0% {
    color: #884915;
  }
  100% {
    color: #ff9a48;
  }
}

@media (max-width: 1024px) { /* lgブレークポイント */
  .search-back {
    background-color: #050505;
    padding: 0 24px 0 24px;
  }
}

.hidden {
  display: none; /* 要素を非表示にする */
}

@media (max-width: 1024px) { /* lgブレークポイント */
  .search-back-root {
    background-color: #050505;
    position: fixed;
    width: 100%;
    height: 380px;
  }
}

@media (max-width: 1024px) { /* lgブレークポイント */
  .purpose-text {
    top: 352px;
  }
}

.purpose-box {
  top: 416px;
}

@media (max-width: 1024px) { /* lgブレークポイント */
  .purpose-box {
  top: 384px;
  }
}

.ai-comment {
  width: 650px;
}

@media (max-width: 1024px) { /* lgブレークポイント */
  .ai-comment {
  width: 336px;
  }
}

.load {
  color: #884915;
  border-color: #127292; 
  animation: blue-field-glow 0.3s ease-in-out forwards, blue-field-color-change 0.3s ease-in-out forwards, orange-text-glow 0.3s ease-in-out forwards, orange-text-color-change 0.3s ease-in-out forwards;
}

.load.no-animation {
  animation: none;
    border-color: #8bd3ff;
    box-shadow:
      0 0 2px #02a5dc, 
      0 0 5px #02a5dc,
      0 0 7px #02a5dc,
      0 0 2px #02a5dc inset, 
      0 0 5px #02a5dc inset,
      0 0 7px #02a5dc inset;

    text-shadow: 
      0 0 5px #965a28, 
     0 0 10px #965a28,
      0 0 15px #965a28;

    color: #ff9a48;
}

.load.off {
  animation: none;
    border-color: #8bd3ff;
    box-shadow:
      0 0 2px #02a5dc, 
      0 0 5px #02a5dc,
      0 0 7px #02a5dc,
      0 0 2px #02a5dc inset, 
      0 0 5px #02a5dc inset,
      0 0 7px #02a5dc inset;

    color: #884915;
    text-shadow: none;

}


.load-message {
  cursor: pointer;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 8px;
  text-align: center;
  position: fixed; /* 追加 */
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  z-index: 1000; 
}